@import "./common/_color.scss";

.font24{
  font-size: 24px;
}
.font30 {
  font-size: 30px;
}
.spacing2{
  letter-spacing: 2px;
}
.top{
  vertical-align: top;
}
.content{
  padding-bottom: 60px;
}
.case-detail-bg-wrap{
  min-height: 1000px;
  .case-wrap{
    position: absolute;
    box-sizing: border-box;
    margin-top: 80px;
    padding: 23px 36px 21px 48px;
    height: 260px;
    width: 660px;
    background-color: rgba(0, 0, 0, .33);
    color: $white;
  }
  .case-title{
    margin-bottom: 20px;
    letter-spacing: 4px;
  }
  .case-description{
    line-height: 32px;
    letter-spacing: 1px;
  }
  .case-fake-border{
    position: absolute;
    left: 20px;
    top: 60px;
    width: 656px;
    height: 296px;
    border: 2px solid $border;
  }
  .materiel-wrap{
    color: $white;
    position: absolute;
    left: 600px;
    top: 420px;
  }
  .materiel{
    li{
      height: 112px;
      width: 112px;
      overflow: hidden;
      float: left;
      & + li{
        margin-left: 10px;
      }
      &:hover{
        .item-name{
          top: 0;
          bottom: 0;
          display: block;
        }
      }
    }
  }
  .design-wrap{
    @extend .materiel-wrap;
    top: 605px;
  }
  .design{
    @extend .materiel;
  }
  .item-name{
    position: absolute;
    top: -112px;
    bottom: 122px;
    padding: 46px 0;
    color: $white;
    transition: all 0.5s;
    transition-timing-function: ease-out;
  }
}
.case-content{
  width: 1200px;
  box-sizing: border-box;
  background-color: $white;
  margin-top: -150px;
  padding: 60px 40px;
}

.company-bg{
  height: 200px;
  margin: 10px;
  width: 1180px;
  .company-logo{
    height: 140px;
    width: 140px;
    margin: 30px;
  }
  .company-description{
    margin: 35px 50px 0 10px;
    max-height: 130px;
    overflow: hidden;
  }
}
.company-bg{
  margin: 60px auto 0;
}